@import '../colors';

.header {
  position: fixed;
  top: 0;
  left: 0;

  padding: 9px;
  width: 100%;
  height: 72px;

  z-index: 1000;

  background-color: $background-light-blue;
}

.logo {
  width: 72px;
  height: 72px;
}
