$underdark-grey: #292929;
$dark-grey: #363636;
$active-grey: #4d4d4d;
$links-grey: #818181;
$credit-grey: #959595;

$light-blue: rgba(97, 218, 251, 1);
$active-link-blue: #55b8ff;
$background-light-blue: rgba(238, 245, 250, .87);
$dark-blue: rgba(47, 72, 88, 1);

$pink: rgba(249, 38, 114, 1);

$white: #FFFFFF;
