@import './colors';

.root {
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
}

h1 {
  color: $dark-blue;
}

h2 {
  color: $light-blue;
  text-transform: uppercase;
}

h3 {
  color: $light-blue;
}
